<section class="reputation-map">
    <h2 class="map-title">Mapa de Reputación</h2>

    <div class="map-container">
        <google-map [center]="center" [zoom]="zoom" [options]="options" height="100%" width="100%">
            <map-marker *ngFor="let marker of markers" [position]="marker.position" [title]="marker.title" [options]="marker.options">
                <map-info-window>
                    <strong>{{ marker.title }}</strong><br /> {{ marker.info }}
                </map-info-window>
            </map-marker>
        </google-map>
    </div>
</section>